@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary: #4FACF7; 
    --secondary: #001220; 
    --black: #0B0C10; 
    --white: #fff;
}


body {
    font-size: 13px; 
    font-family: 'Lato', Courier, monospace;
    background-color: var(--secondary); 
    color: var(--white);
    scroll-behavior: smooth;
}

a {
    font-family: 'Lato', Courier, monospace;
    text-decoration: none;
    color: var(--white);
}

li { 
    list-style: none;
}

img {
    height: 100%; 
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 1em;
}
  
::-webkit-scrollbar-track {
    background: var(--secondary); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--primary); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #4690cc; 
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
}