@font-face {
  font-family: 'League Spartan';
  src: url('LeagueSpartan.woff2') format('woff2-variations');
  font-weight: 200 700 900;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: hsl(207, 91%, 64%);
	--primary-focus: hsl(207, 91%, 75%);
	--base: hsl(206, 100%, 6%);
	--base-300: hsl(206, 100%, 10%);
	--content: #fff;
	--error: hsl(0, 100%, 66%);
}

::-webkit-scrollbar {
	width: .75em;
}

::-webkit-scrollbar-track {
	background: var(--base-300);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-focus);
}

::-moz-selection {
	color: var(--white);
	background: var(--primary);
}

::selection {
	color: var(--white);
	background: var(--primary);
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 0.8em;
	font-family: "League Spartan", 'Times New Roman', Times, serif;
	background-color: var(--base);
	color: var(--white);
}

h1 {
	font-size: 2rem;
	font-weight: 900;
	width: 100%;
	text-align: center; 
	color: var(--content);
	margin-bottom: 1rem;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	transform: skew(-5deg);
	text-shadow: 2px 2px 0 var(--primary);
	letter-spacing: .25rem;
}

h3 {
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--content);
}

svg {
	width: 1.5rem;
	height: auto;
	vertical-align: middle;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

a {
	font-family: "League Spartan", Courier, monospace;
	text-decoration: none;
	color: var(--content);
	font-size: 1.2rem;
	font-weight: bold;
	transition: 0.3s linear;
}

a:hover {
	color: var(--primary);
}

button {
	all: unset;
	cursor: pointer;
}

.underline {
	position: relative;
}

.underline:hover {
	color: var(--content);
}

.underline::before {
	content: "";
	position: absolute;
	bottom: -1px;
	right: 0;
	width: 0;
	height: 2px;
	background-color: var(--content);
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@media (hover: hover) {
	/* Only for devices that support hovering */
}

@media (min-width: 480px) {
	/*CSS for medium width screens*/
}

@media (min-width: 800px) {
	h2 {
		font-size: 2.5rem;
	}
}

@media (min-width: 1100px) {
	/*CSS for really wide screens*/
}

@media (hover: hover) and (pointer: fine) {
	.underline:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}